<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BenchmarkDotNet" version="0.13.2" targetFramework="net481" />
  <package id="BenchmarkDotNet.Annotations" version="0.13.2" targetFramework="net481" />
  <package id="CommandLineParser" version="2.4.3" targetFramework="net481" />
  <package id="Serilog" version="2.12.0" targetFramework="net481" />
  <package id="Serilog.Enrichers.Context" version="4.6.0" targetFramework="net481" />
  <package id="Serilog.Enrichers.CorrelationId" version="3.0.1" targetFramework="net481" />
  <package id="Serilog.Enrichers.Process" version="2.0.2" targetFramework="net481" />
  <package id="Serilog.Enrichers.Thread" version="3.1.0" targetFramework="net481" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" targetFramework="net481" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net481" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net481" />
  <package id="Serilog.Sinks.Seq" version="5.2.2" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
</packages>